.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15px;
  height: 280px;
}

header {
    font: italic bold 24px 'Arial', sans-serif;
    color: #435161;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    margin: 20px;
    text-align: justify;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #777777;
    margin: 20px;
}